<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Grupo3 - Museo</title>

    {# Cargamos la librería #}
    {% load static %}
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

</head>

<body>
  <div class="text-center mb-5">
    <div class="border bg-primary rounded-lg text-white mx-auto">
        <h1 class="pt-5 px-3">Cantidad de Entradas</h1>
        <h5 class="pb-5"> 
        <a href="http://127.0.0.1:8000/" class="text-white">Venta de entradas</a> > 
        <a href="http://127.0.0.1:8000/venta/" class="text-white">Ventas</a> > 
        {% if conGuia == 'true' %}
        <a href="http://127.0.0.1:8000/montoconguia/" class="text-white">Monto Con Guía</a> > 
        {% else %}
        <a href="http://127.0.0.1:8000/montosinguia/" class="text-white">Monto Sin Guía</a> > 
        {% endif %}
        Cantidad de Entradas
        </h5>
    </div>
  </div>
<div class="container">
      <div class="card-deck mb-3 text-center w-50 m-auto d-flex justify-content-center">
        {%if tarifa.tipoVisita.nombre == 'Completa'%}
          <div class="mb-4 border border-completa rounded-lg box-shadow overflow-auto">
            <div class="card-header completa">
          {%else%}
          <div class="mb-4 border border-exposicion rounded-lg box-shadow overflow-auto">
            <div class="card-header por-exposicion">
          {%endif%}
            <h4 class="my-0 text-uppercase text-white">Tarifa {{id}}</h4>
          </div>
          <div class="card-body card-tarifa pb-0">
            <ul class="list-unstyled">
            {% if tipoEntrada == 'Menores' %}
            <img class="card-image" src="{% static 'images/disaster-girl.png' %}" alt="Menores"/>
            {% elif tipoEntrada == 'Estudiantes' %}
            <img class="card-image" src="{% static 'images/student.png' %}" alt="Estudiantes" />
            {% elif tipoEntrada == 'General' %}
            <img class="card-image" src="{% static 'images/businessman.png' %}" alt="General" />
            {% else %}
            <img class="card-image" src="{% static 'images/harold.png' %}" alt="Jubilados" />
            {%endif%}
            <!--<li class="py-2 h6 border-bottom">Id tarifa: {{id}}</li>!-->
            <li class="py-2 h6 border-bottom"><span class="font-weight-bold">Monto Tarifa:</span> ${{monto}}</li>
            <li class="py-2 h6 border-bottom"><span class="font-weight-bold">Fecha Fin Vigencia:</span> {{fechaFinVigencia}}</li>
            <li class="py-2 h6 border-bottom"><span class="font-weight-bold">Tipo de Visita:</span> {{tipoVisita}}</li>
            <li class="py-2 h6"><span class="font-weight-bold">Tipo de Entrada:</span> {{tipoEntrada}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
        <div class="pb-2 text-center">

            <h3>Ingresar cantidad de entradas</h3>

            </div>
    <div class="py-2 bg-light text-center border">
        <div class="text-center text-white-50 bg-purple rounded box-shadow">
        <span class="mb-0 text-white lh-100"> Cantidad disponible: {{cantVisitantesDisp}} </span>
        </div>
        <!-- <p>{{duracion}}</p> -->
        <div>
        <form action="/cantEntradasSelec/" method="GET">
        <input type="number" min="1" name="cantEntradas" placeholder="Ingrese Cant. Entradas" required="true" class="mt-3 text-center">
        <input type="hidden" name="monto" value="{{monto}}" >
        <input type="hidden" name="idTarifa" value="{{id}}" >
        <input type="hidden" name="fechaFinVigencia" value="{{fechaFinVigencia}}" >
        <input type="hidden" name="tipoEntrada" value="{{tipoEntrada}}" >
        <input type="hidden" name="tipoVisita" value="{{tipoVisita}}" >
        <input type="hidden" name="conGuia" value="{{conGuia}}" >
        </div>
        <div class="pt-3">
        <input class="btn btn-outline-primary btn-lg px-5" type="submit" value="Agregar">
        </div>
    </form>
    </div>

          <div class="d-flex justify-content-center mt-5" >
              <div class="row">
                <a type="button" class="btn bg-warning" href="http://127.0.0.1:8000/">VOLVER A INICIO</a>
              </div>
          </div>

</body>

</html>